In [1]:
# coding:utf-8

import numpy as np
import pandas as pd
from pandas import Series, DataFrame

import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split


%matplotlib inline

In [2]:
sub1 = pd.read_csv('submission1.csv',encoding='utf-8',index_col = False, delimiter='\,',
                                 )
result1 = sub1.groupby("user_id",as_index=False).apply(lambda x:x.sort_values("score",ascending=False))

sub2 = pd.read_csv('submission2.csv',encoding='utf-8',index_col = False, delimiter='\,',
                                 )
result2 = sub2.groupby("user_id",as_index=False).apply(lambda x:x.sort_values("score",ascending=False))

/home/ubuntu/anaconda3/envs/tensorflow_p36/lib/python3.6/site-packages/ipykernel/__main__.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  if __name__ == '__main__':
/home/ubuntu/anaconda3/envs/tensorflow_p36/lib/python3.6/site-packages/ipykernel/__main__.py:5: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.

In [5]:
result2.head()

                              user_id                             jd_no  \
0 0  0060bfb67062ee4b1fcb276e5b3dedd2  4e706c7a2f9c2e7b15957c1264d4a96a
  1  0060bfb67062ee4b1fcb276e5b3dedd2  4d0bd5dc82486a37c77f99b60494abb9
  2  0060bfb67062ee4b1fcb276e5b3dedd2  6f590d65cd1afc3cff1ff02de47a7089
  3  0060bfb67062ee4b1fcb276e5b3dedd2  a31c03e6702cb7c79d5fa19700838030
  4  0060bfb67062ee4b1fcb276e5b3dedd2  dd3a114f87418a76ea2b1d005d46202d

        score
0 0  0.189314
  1 -0.009213
  2 -0.026634
  3 -0.032496
  4 -0.037875

In [3]:
from scipy.stats import rankdata
group_data_sub1 = pd.DataFrame(columns=['user_id','jd_no','rank'])

for idx, group in result1.groupby("user_id"):
    #group['rank']=rankdata(group['score'])/rankdata(group['score']).max(
    group['rank'] = group['score'].rank(ascending=True, method='min')/group['score'].rank(ascending=True, method='min').max()
    for i in range(0,len(group)):
        group_data_sub1 = group_data_sub1.append({'user_id':group['user_id'].values[i],'jd_no':group['jd_no'].values[i],'rank':group['rank'].values[i]},ignore_index=True)     
        #print(group_data_sub1)

/home/ubuntu/anaconda3/envs/tensorflow_p36/lib/python3.6/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

KeyboardInterrupt:

In [ ]:
group_data_sub2 = pd.DataFrame(columns=['user_id','jd_no','rank'])

for idx, group in result2.groupby("user_id"):
    #group['rank']=rankdata(group['score'])/rankdata(group['score']).max(
    group['rank'] = group['score'].rank(ascending=True, method='min')/group['score'].rank(ascending=True, method='min').max()
    for i in range(0,len(group)):
        group_data_sub2 = group_data_sub2.append({'user_id':group['user_id'].values[i],'jd_no':group['jd_no'].values[i],'rank':group['rank'].values[i]},ignore_index=True)     
        #print(group_data_sub1)

group_data_sub2.head()

In [ ]:
group_data_table = pd.merge(group_data_sub1,group_data_sub2,how="inner",on=["user_id","jd_no"])

In [11]:
group_data_table['rank'] = (group_data_table['rank_x']*0.1+group_data_table['rank_y'])/2
group_data_table.head()

,user_id,jd_no,rank_x,rank_y,rank
0,0060bfb67062ee4b1fcb276e5b3dedd2,e4ed73ce7b04402fb23236c02c2ee523,1.000000,0.082353,0.541176
1,0060bfb67062ee4b1fcb276e5b3dedd2,dd3a114f87418a76ea2b1d005d46202d,0.988235,0.952941,0.970588
2,0060bfb67062ee4b1fcb276e5b3dedd2,f6235d0d30e71991a48ced969febbc1d,0.976471,0.211765,0.594118
3,0060bfb67062ee4b1fcb276e5b3dedd2,4ed520f3209df87d639d77d7ed2df72a,0.964706,0.388235,0.676471
4,0060bfb67062ee4b1fcb276e5b3dedd2,e6f160d3fea1cbfbf953c556dad0c75d,0.952941,0.800000,0.876471

In [12]:
result = group_data_table.groupby("user_id",as_index=False).apply(lambda x:x.sort_values("rank",ascending=False))
result.head()

                               user_id                             jd_no  \
0 1   0060bfb67062ee4b1fcb276e5b3dedd2  dd3a114f87418a76ea2b1d005d46202d
  12  0060bfb67062ee4b1fcb276e5b3dedd2  6f590d65cd1afc3cff1ff02de47a7089
  9   0060bfb67062ee4b1fcb276e5b3dedd2  3df5b3a8931a179eb1c6fa7516f85106
  4   0060bfb67062ee4b1fcb276e5b3dedd2  e6f160d3fea1cbfbf953c556dad0c75d
  28  0060bfb67062ee4b1fcb276e5b3dedd2  4e706c7a2f9c2e7b15957c1264d4a96a

        rank_x    rank_y      rank
0 1   0.988235  0.952941  0.970588
  12  0.858824  0.976471  0.917647
  9   0.894118  0.870588  0.882353
  4   0.952941  0.800000  0.876471
  28  0.670588  1.000000  0.835294

In [13]:
result[["user_id","jd_no"]].to_csv("submission3.csv",index=False)